.swiper-container {
  width: 100%;
}

.swiper-wrapper {
  display: flex;
  align-items: flex-start;
}

.swiper-slide {
  display: flex;
  align-items: flex-start;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

.main-swiper {
  width: 100%;
}

.main-swiper > .swiper-pagination-custom {
  position: absolute;
  bottom: 5%;
  width: auto;
  left: 5%;
}

.swiper-pagination-bullet.main {
  margin-left: 6px;
  margin-right: 6px;
  display: inline-block;
  width: 6px;
  height: 6px;
  background-color: #808080;
  border-radius: 50%;
  opacity: 1;
}

.swiper-pagination-bullet.active.main {
  width: 18px;
  height: 6px;
  background-color: white;
  border-radius: 4px;
}

.main-slider-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
